{% extends "base.html" %}

{% block head %}
    <title>{% block title %}Medien-Galerie{% endblock %}</title>
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
{% endblock %}

<body>
    {% block content %}
    <div class="gallery-container">
        {% for item in media_items %}
            <div class="gallery-item {% if item.is_folder %}is-folder{% endif %}">
                {% if item.is_folder %}
                    <a href="{{ url_for('gallery_.index', folder_path=folder_path + item.name) }}">
                        <img src="/static/icons/folder-icon.png" alt="Folder Icon">
                        <div class="icon-overlay" style="border-radius: 20px">{{ item.name }}</div>
                    </a>
                {% else %}
                    {% if item.name.endswith('.mp4') or item.name.endswith('.webm') %}
                        <video src="media/p{{ folder_path }}/{{ item.name }}" alt="{{ item.name }}"></video>
                        <div class="icon-overlay">
                            <img src="/static/icons/video-icon.png" alt="Video Icon">
                        </div>
                    {% else %}
                        <img src="media/p{{ folder_path }}/{{ item.name }}" alt="{{ item.name }}">
                        <div class="icon-overlay">
                            <img src="/static/icons/image-icon.png" alt="Image Icon">
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    
    
    

    <div class="preview-overlay"></div>
    <div class="preview">
        <img id="previewImage" alt="Preview">
        <video id="previewVideo" controls></video>
    </div>

    <script src="{{ url_for('static', filename='js/gallery/render_galleryitems.js') }}"></script>
    {% endblock %}
</body>
