{% extends "base.html" %}

{% block head %}
    {% block title %}Medien-Galerie{% endblock %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    {% endblock %}

<body>
    {% block content %}
    <div class="gallery-container">
        {% for file in media_files %}
            <div class="gallery-item">
                {% if file.endswith('.mp4') or file.endswith('.webm') %}
                    <video src="/gallery/media/{{ file }}" alt="{{ file }}"></video>
                    <div class="icon-overlay">
                        <img src="/static/icons/video-icon.png" alt="Video Icon">
                    </div>
                {% else %}
                    <img src="/gallery/media/{{ file }}" alt="{{ file }}">
                    <div class="icon-overlay">
                        <img src="/static/icons/image-icon.png" alt="Image Icon">
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    

    <div class="preview-overlay"></div>
    <div class="preview">
        <img id="previewImage" alt="Preview">
        <video id="previewVideo" controls></video>
    </div>

    <div class="wallpaper-download">
        <form action="#" onsubmit="download_wallpapers(this)">
            <label for="quantity">Quantity (between 1 and 5):</label>
            <input type="number" id="quantity" name="quantity" min="1" max="5">
            <button type="submit">Submit</button>
        </form>
    </div>
    <script>
        document.getElementById('myForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission
    
            download_wallpapers(this);
        });
    
        function download_wallpapers(theForm) {
            var number = theForm.quantity.value;
            console.log("Number: ", number);
    
            fetch(`/gallery/download_wallpapers/${number}`, {
                method: 'GET',
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); // Parse the JSON response
            })
            .then(data => {
                alert(data.message); // Show success/error message
            })
            .catch(error => {
                console.error('Error:', error);
                alert("There was an error during the download.");
            });
        }
    </script>
    

    <script src="{{ url_for('static', filename='js/gallery/render_galleryitems.js') }}"></script>
    {% endblock %}
</body>
